<h1>Welcome <%= @user.username%>!</h1><br><br>


<br>

<div style="border:3px; border-style:solid; border-color:#FF0000; padding: 2em;">
    <p>You are currently logged in as <%= current_user.username %>. Click <%= link_to "Edit", edit_user_path(@user) %> to edit your profile</p> 

    <p>Your user's email address is: <u style="color:blue"><%= @user.email %></u></p>

    <em>Your personal information was last updated at : <%= @user.last_updated %> </em></p>
    
    <br>
        <p><%= link_to "ALL REGISTRATIONS", "/registrations" %></p>
    <br>
    
    <h3>The number of event(s) you are currently volunteering for: <strong style = "color : red"><%= @user.registrations.count %></strong></h3>

    <p>Click <%= link_to "here", new_user_registration_path(@user) %> to register yourself or another user to volunteer for an event</p>
    
    <p><strong>Below are the events you are currently registered for:</strong><p>

    
    
    <table border="3">
        <tr>
            <th> Event Name </th>
            <th> Event Date </th>
            <th> Update Registration</th>
        </tr>
    
            <tr>
    
            <td>
                <% @user.registrations.each do |registration| %> 
                    <%= registration.event.name %>
                    <br>
                <% end %>     
            </td>
                
            <td>
                <% @user.registrations.each do |registration| %> 
                    <%= registration.event.date%>
                    <br>
                <% end %>
            </td>
    
            <td>
                <% @user.registrations.each do |registration| %> 
                    <!-- Depending on whether the below edit_user_registration_path gives correct URL, keep it / remove it -->
                    <%= link_to "Edit", edit_registration_path(registration) %>
                    <br>
                <% end %>
            </td>
    
        </tr>
    
        <br>
    
    </table>

    <br>
</div>