<br>
<br>
<%= link_to "ALL EVENTS", "/events"%> <br><br>

<h2>Hackathon Event Details</h2><br>

<b>Event Name:</b> <%= @event.name %><br><br>
<b>Event Date:</b> <%= @event.date %><br><br>
<b>Event Location:</b> <%= @event.location %><br><br>
<b>Event Description:</b> <%= @event.description %><br><br>
